.be_add_user_form {
}
.be_hide_form {
  display: none
}

:global(.ant-modal-header) {
  background: #6d94b9;
  font-size: 30px;
}
:global(.ant-modal-title) {
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
}
:global(.ant-modal-close) {
  color: rgba(255, 255, 255, 1);
}
:global(.ant-modal-footer) {
  background: #a3b9ce;
}
