.be_column_name {
  width: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.be_column_telephone {
  width: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.be_column_email {
  width: 240px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.be_column_time {
  width: 240px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.be_column_operations {
}
.be_column_edit {
  display: inline-block;
}
.be_column_delete {
  display: inline-block;
  margin-left: 12px;
}
.be_column_delete {
  width: 40px;
}

.be_search_contract {
  margin: 10px 0 0 27px;
  text-align: left;
}

.be_add_contract {
  right: 40px;
  margin: -32px 98px 0 0;
  position: absolute;
}

.be_del_contract {
  right: 40px;
  margin: -32px 0 0 0;
  position: absolute;
}

.be_table_contract {
  margin-top: 10px;
}

:global(.ant-table-thead > tr > th) {
    text-align: center;
    background: #a3e284;
    font-weight: 700;
}
:global(.ant-table-tbody > tr > td) {
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px 5px;
}
:global(.ant-table table) {
    text-align: center;
}
